.jumbotron
{
background-color: #c94c4c;
color: white;
margin-top: 50px;
}

footer
{
  padding: 10px 10px 0 10px;
  background-color: #b1cbbb;
  margin-bottom: 0px;
  margin-top: 30px;
}

.btn
{
  background-color: #eea29a;
  color: black;
}

hr
{
  background-color: #c94c4c;
}

.card-hotel
{
  flex: 1 300px;
  margin-top: 6px;
  padding: 2px 2px 2px 2px;
}

.iconos_footer
{
  margin-right: 6px;
}
