.jumbotron
{
background-color: #c94c4c;
color: white;
}
footer
{
  padding: 10 px 10 px 0 10 px;
  background-color: #b1cbbb;
  margin-bottom: 0px;
  margin-top: 10 px;
}
.btn
{
  background-color: #eea29a;
  color: black;
}
hr{background-color: #c94c4c;}
.card-hotel
{
  flex: 1 300px;
  margin-top: 6px;
  padding: 2px 2px 2px 2px;
}

.btn-reserva
{

}
