.jumbotron {
  background-color: #c94c4c;
  color: white;
  margin-top: 50px;
  margin-bottom: 20px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #b1cbbb;
  margin-top: 30px;
  margin-bottom: 0px; }

.btn {
  background-color: #eea29a;
  color: black; }

hr {
  background-color: #c94c4c; }

.card-hotel {
  flex: 1 300px;
  margin-top: 6px;
  padding: 2px 2px 2px 2px; }

.card-banner {
  margin-left: 12px;
  margin-right: 12px;
  flex: 1 300px;
  margin-top: 0px;
  padding: 0px 0px 0px 0px; }

.iconos_footer {
  margin-right: 6px; }

.breadcrumb {
  margin-top: 20px; }

.contacto {
  margin-top: 8px; }

.carousel-margin {
  margin: 20px; }
